@font-face {
  font-family: "font1";
  src: url(./fonts/Montserrat-Medium.ttf);}
@font-face {
  font-family: "font2";
  src: url(./fonts/Montserrat-Thin.ttf);}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "font1", sans-serif;
}
li {
  list-style: none;
}
nav{
  position: fixed;
  width: 100%;
  background: white;
  z-index: 10;
}
nav ul {
  display: flex;
  justify-content: space-around;
  margin: 0px auto;
}
nav a {
  color: black;
  text-decoration: none;
  padding: 10px 0;
}
nav a:hover {
  color: #6920b2;
}
nav li {
  text-transform: uppercase;
  font-size: 0.75rem;
}

.a-last {
  padding: 0;
  margin: 0;
}
.last {
  display: flex;
  margin: 8px 0;
  padding: 3px 3px;
  background: #e0e0e0;
  border-radius: 20px;
  font-size: 0.75rem;
}
.last:hover {
  color: #6920b2;
  background: rgb(142, 141, 141) 0;
  transition: 0.3s;
}
.last:hover .fr{
  border-right: 2px solid white;
  transition: 0.3s;
}
.fr {
  padding: 0 10px;
  margin: 0;
  border-right: 2px solid black;
}
.en {
  padding: 0 10px;
}
.top {
  background: url(./img/bg.jpg) center/cover fixed;
  padding: 90px 0 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.top img{
  width: 40%;
  margin: 0 auto;
}
.top h1{
  color: white;
  margin: 30px auto;
  font-family: "font2",sans-serif;
  font-size: 1.75rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.top .fas{
  padding: 0 0 0 20px;
}
.button-1{
  margin: 0 auto;
  background: rgba(0, 0, 0, 0);
  color: white;
  font-family: "font1",sans-serif;
  font-size: 1.25rem;
  padding:10px 5%;
  border: 1px solid white;
  text-decoration: none;
}
.fas .fa-chevron-right {
  font-size: 0.9rem;
  letter-spacing: 10px;
}
.button-1:hover {
  background:rgba(255, 255, 255, 0.306);
}
.head-1{
  margin: 20px auto; 
  text-align: center;
  width: 80%;
}

.section1{
  background: black;
  color:white;
  min-height: 400px;
}
.s1-container{
  margin: 0 auto;
  width: 80%;
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}
.under-section1 img{
  width: 100%;
}
.under-section1{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.under-section1 div{
  padding: 25px 0;
  display:block;
  margin: 0 auto;
}
.under-section1 h3{
  text-align: center;
  text-transform: uppercase;
  padding: 25px 0 10px 0;
  font-size: 1rem;
}
.under-section1 p{
  padding: 0 0 25px 0;
  font-size: 0.75rem;
  font-family: "font2";
  text-align: center;
}
.button-1 {
  padding:10px 30px;
}
.button-1 div {
  padding: 0;
  font-size: 0.75rem;
}
.color3{
    background: #f7f7f7;
    padding: 30px 0;
  }
.section2{
  margin:0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.section2 h2 {
  text-transform: uppercase;
}
.section2 a {
  text-decoration: none;
  border: black 1px solid;
  max-height: 30px;
}
.section2 a div {
  padding: 5px 10px;
  text-transform: uppercase;
  color: black;
  font-size: 0.75rem;
  font-weight: bold;
}
.section2 a div .fas{
  padding: 0 0 0 10px;
}
.section2 a:hover{
  background: rgb(207, 207, 207);
}
.usection2{
  display: flex;
  justify-content: space-between;  
  margin: 0 auto;
  width: 80%;
}
.unders2{
  max-width: 25%;
  position:relative;
  padding: 0 0 50px 0;
}
.unders2 img{
  box-shadow: 4px -4px 5px rgba(0, 0, 0, 0.281);
  width: 100% ;
}
.unders2 h4{
padding: 10px 0;}
.unders2 p{
  font-size: 0.75rem;
}
.unders2 a{
  position: absolute;
  font-size: 0.90rem;
  bottom: 0px;
  text-decoration: none;
  color: #6920b2;
}
.unders2 a .fas{
  font-size: 0.5rem;
  padding: 3px 10px;
}
.unders2 a:hover{
  color: white;
  background: #6920b2;
}
footer{
  background: #ffff;

}
.top-footer {
  margin: 40px auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  position: relative;
}
.top-footer::after{
  content: "";
  position: absolute;
  width: 80%;
  border-bottom: solid 1px lightgray;
  bottom: 0px;
  left: 50%;
  transform: translatex(-50%);
}
.flex{
  display:flex;
}
.utop-footer {
  max-width: 25%;
}
.imgfooter {
  max-width: 100%;
}
.utop-footer h5{
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0 0 20px 0;
}
.utop-footer a{
  text-decoration: none;
  color: #6920b2;
  font-size: 0.75rem;
}
.utop-footer a div{
padding: 10px 0;
}
.utop-footer p{
  font-size: 0.75rem;
padding: 10px 0;
}
.mail{
  padding: 10px 0 30px 0;
}
.flast-2 h5{
  padding: 5px 0;
}
.emote .fab{
  letter-spacing: 15px;
  font-size: 0.9rem;
  padding: 0 0 30px 0;
}
.copyright{
  padding: 10px 0;
  font-size: 0.9rem;
}
.mid-footer{
  margin: 20px auto;
  width: 80% ;
  justify-content: space-between;
  align-items:center;
}
.lm-footer{
  padding: 0px 10px 0 10px;
}
.lm-footer h5{
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0 0 10px 0; 
}
.lm-footer p{
  font-size: 0.9rem;
}
.rm-footer{
  width: 60%;
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.rm-footer div img{
  width: 100%;
  padding: 5px;
}
.end-footer{
  background: black;
}
.end-footer h5{
  color:white;
  text-align:center ; 
  padding: 30px 0;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "font2";
}
.end-footer div{
  justify-content: space-around;

}
.footer-container{
  flex-wrap: wrap;
}
.fimg{
  width: 9%;
}
.fimg img{
  max-width: 100%;
}
@media (max-width : 1310px) {
  .under-section1 h3{
    font-size: 0.9rem;
  }
}
@media (max-width : 1200px) {
  nav ul{
    margin: 0 7.5%;
  }
  nav li {
    font-size: 0.7rem;
  }
  .last{
    font-size: 0.7rem;
  }
  .under-section1 h3{
    font-size: 0.75rem;
  }
  .under-section1 p{
    font-size: 0.65rem;
  }
}
@media (max-width : 1000px) {
  nav ul{
    margin: 0 5%;
  }
  nav li {
    font-size: 0.6rem;
  }
  .last{
    font-size: 0.6rem;
  }
  .top h1 {
    font-size: 1.25rem;
  }
  .button-1{
    padding: 10px 2%;
    font-size: 0.85rem;
  }
  .head-1 p{
    font-size: 0.85rem;
  }
  .s1-container {
    font-size: 0.65rem;
    padding: 0 7.5% 30px 7.5%;
    width: 90%;
  }
  .section2{
    padding: 50px 5%;
  }
  .section2 h2 {
    font-size: 1rem;
  }
  .section2 > div {
    font-size: 0.75rem;
  } 
  .section2 a div{
    padding: 5px;
    width: 105px;
  }
  .section2 a div .fas{
    font-size: 0.60rem;
    padding: 0 0 0 5px; 
  }
  
  .btnnews span{
    font-size: 0.60rem;
  }
  .unders2 h4{
    font-size: 0.75rem;
  }
  .unders2 p{
    font-size: 0.65rem;
  }
  .unders2 a div {
    font-size: 0.65rem;
  }
  .utop-footer h5{
    font-size: 0.75rem;
    padding: 0 0 10px 0;
  }
  .utop-footer a{
    font-size: 0.65rem;
  }
  .utop-footer a div{
    padding: 5px 0;
  }
  .utop-footer p {
    font-size: 0.65rem;
  }
  .utop-footer div{
    font-size: 0.65rem;
  }
  .utop-footer div i{
    font-size: 0.65rem;
  }
  .lm-footer h5{
    font-size: 0.85rem;
  }
  .lm-footer p{
    font-size: 0.65rem;
  } 
}
@media (max-width : 700px) {
  .button-1 {
    padding: 5px  1%;
    font-size: 0.75rem;
}
}
@media (max-width : 600px) {
  nav {
    height: 0;
    overflow: hidden;
  }
  .top h1{
    width: 80%;
    font-size: 1.25rem;
    text-align: center; 
  }
  .s1-container{
    flex-direction: column;
  }
  .under-section1{
    width: 80%;
  }
  .under-section1 h3{
    font-size: 1.25rem;
  }
  .under-section1 p{
    font-size: 1rem;
  }
  .under-section1 .button-1{
    padding: 10px;
  }
  .section2{
    flex-direction: column;
    align-items: center;
  }
  .section2 h2{
    font-size: .75rem;
  }
  .activities{
    font-size: 0.60rem;
  }
  .section2 a {
    margin: 10px 0;
  }
  .usection2 {
    flex-direction:column;
    align-items: center;
  }
  .unders2{
    max-width: 80%;
    margin: 10px;
  }
  .top-footer{
    margin: 0;
    padding: 0;
    height: 0;
    overflow: hidden;
  }
  .mid-footer{
    margin: 0;
    padding: 0;
    height: 0;
    overflow: hidden;
  }
}
